# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#using-environment-variables

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server and MongoDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://alex@localhost:5432/alex?schema=public"

# openssl rand -base64 172 | tr -d '\n'
JWT_SECRET=y0zSUTQ3AKqEskP849JukEI5f2AvDSmqRuxqaWfQXQSRcd4JR3RZtmFFrwET8gA/sh/+d3CwrkFVuIEdhRIVflsXE3i6hfF5Ac8YeQt/wZ6XVi+ixwWgu+C3Xek0g7B2uQj3YP8JB85JLLKq1u5U98Q/AGVlNc1r98mu+gvVWCkgAfYtAWH8RB65iZ8hE2vV93ULK4I5yMlncOb4TkAbgCfoz+rfTourYBkbsQ==%

# App environment - test | dev | production
APP_ENV="production"